autopep8==2.3.2
dask==2025.9.1
h5py==3.15.0
hidapi==0.14.0
ids-peak==1.11.1.0.5
matplotlib==3.10.7
mmpycorex==0.3.16
numba==0.62.1
numpy==2.2.6
ome_types==0.5.2
opencv_python==4.12.0.88
pandas==2.3.3
pco==2.3.0
pycromanager==1.0.2
pyfiglet==1.0.4
pyflakes==3.4.0
pyjokes==0.8.3
PyOpenGL==3.1.10
pypylon==4.2.0
pyqtdarktheme>=2.1.0
pyqtgraph==0.13.7
pyserial==3.5
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
pystackreg>=0.2.8
pyueye==4.96.952
QDarkStyle==3.2.3
QScintilla==2.14.1
scikit-image==0.25.2
scikit_learn==1.7.2
scipy>=1.16.2
setuptools>=80.9.0
tables==3.10.2
tabulate==0.9.0
tqdm>=4.66.4
tifffile==2025.10.4
zarr>=3.1.3